name: Trigger auto deployment for vita-hires-app

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ main ]
    paths:
    - '**'
    - '.github/workflows/vita-hires-app-AutoDeployTrigger-c66c91a1-33c8-4656-9d92-ebd4f4c6c554.yml'

  # Allow manual trigger 
  workflow_dispatch:      

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    permissions: 
      id-token: write #This is required for requesting the OIDC JWT Token
      contents: read #Required when GH token is used to authenticate with private repo

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.VITAHIRESAPP_AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.VITAHIRESAPP_AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.VITAHIRESAPP_AZURE_SUBSCRIPTION_ID }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}
          _dockerfilePathKey_: _dockerfilePath_
          _targetLabelKey_: _targetLabel_
          registryUrl: 
          registryUsername: ${{ secrets.VITAHIRESAPP_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.VITAHIRESAPP_REGISTRY_PASSWORD }}
          containerAppName: vita-hires-app
          resourceGroup: vita-hires-rg
          imageToBuild: default/[parameters('containerAppName')]:${{ github.sha }}
          _buildArgumentsKey_: |
            _buildArgumentsValues_


